@import "tailwindcss";
@plugin "daisyui" {
  themes: pokemon --default;
}


@plugin "daisyui/theme" {
  name: "PokeCenter";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(92% 0.003 48.717);
  --color-base-300: oklch(86% 0.005 56.366);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(38% 0.063 188.416);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(55% 0.135 66.442);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

body {
  font-family: var(--font-lato), sans-serif;
}